{% extends "app/layout.html" %}

{% block content %}

<!-- Intro cards -->
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<!--end of intro cards-->

<div class="justify-content">
    <h2>
        No post here 
    </h2>
</div>

<script>
    let today = Date();
    document.write(today);
    let edited = document.lastModified;
    let message = "Last modified";
    document.write(message + edited);
        

</script>

{% endblock %}
