{% extends "app/layout.html" %}

{% block content %}

<!-- header -->
<!--Main Navigation-->
<header class="mb-10">

    <!-- Section: Split screen -->
    <section class="">

        <div class="container-fluid px-0">
            <div class="row g-0">

                <!-- First column -->
                <div class="col-lg-6 vh-100 d-flex flex-column justify-content-center align-items-center">

                    <!-- Headings -->
                    <div class="h-100 d-flex justify-content-center align-items-center px-5">

                        <div class="">
                            <h2 class="display-4">Brandon Morgan</h2>
                            <h1 class="display-2 fw-bold text-uppercase">Web developer & IT professional </h1>
                        </div>

                    </div>

                    <!-- CTA elements -->
                    <div class="d-flex align-items-center w-100 justify-content-between px-5 mb-5">
                        <a href="https://github.com/mdbootstrap/mdb-ui-kit" target="_blank" class="text-dark">
                            <i class="fab fa-github fa-xl"></i>
                        </a>
                        <hr class="hr d-none d-xl-flex" style="height: 2px; width: 200px;">
                        <a class="btn btn-primary btn-lg btn-rounded" href="#" role="button" data-mdb-ripple-init>
                            See my
                            websites<i class="fas fa-angle-down ms-2"></i>
                        </a>
                    </div>

                </div>
                <!-- First column -->
                <!-- Second column -->
                <div class="col-lg-6 d-none d-lg-inline-block vh-100">

                    <!-- Carousel wrapper -->
                    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel"
                         data-mdb-carousel-init>
                        <!-- Indicators -->
                       

                        <!-- Inner -->
                        <div class="carousel-inner shadow-5-strong" style="border-bottom-left-radius: 4rem">
                            <!-- Single item -->
                            <div class="carousel-item active">
                                <img src="https://mdbootstrap.com/img/new/textures/full/243.jpg"
                                     class="d-block vh-100 vw-100 object-cover" alt="15 years of experience in the IT industry" />
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>8 years of experience in the IT industry</h5>
                                    <p>I have dealt with web development and IT work in general for years now.</p>
                                </div>
                            </div>

                           
               

                </div>
                <!-- Second column -->

            </div>
        </div>

    </section>
    <!-- Section: Split screen -->

</header>
<!--Main Navigation-->
<!--Main layout-->
<main>
    <div class="container">

    </div>
</main>
<!--Main layout-->
<!-- end header -->
<!-- Intro cards -->
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">News in the IT industry</h5>
                <p class="card-text">Click here to view </p>
                <a href="#" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Need a new site design?</h5>
                <p class="card-text">Let me help!</p>
                <a href="#" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
</div>
<!--end of intro cards-->

<div class="justify-content">
    <h2>
        No post here
       

        <a href="news/">Go to News</a>

    </h2>
</div>

<script>
    let today = Date();
    document.write(today);
    let edited = document.lastModified;
    let message = "Last modified";
    document.write(message + edited);


</script>

{% endblock %}
